:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #02073e;
  --secondary-color: #0f2137;
  --dark-secondary-color: #3c415c;
  --tertiary-color: #a6b1e1;
  --light-tertiary-color: #f3f6fb;
  --text-color: #343d48;
  --lavender: #f5f4fb;
  --dark-violet: #865cda;
  --dark-orchid: #8b62db;
  --indigo: #2b135a;
  --light-cyan: #d7dfeb;


  --color-header: #f5f4fb;

  --sombra-primary: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);

  --font-family: 'DM Sans', sans-serif;
}
