.about{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 10rem;
}
.about .max-width{
    margin-bottom: 0;
}

.about .about__left{
    max-width: 30rem;
    flex: 1;
}
.about .about__left p{
    margin: 2rem 0 2rem;
}
.about .about__left ul{
    margin-left: -1.2rem;
}
.about .about__left ul li{
    display: inline-block;
}
.about .about__left ul li a{
    display: inline-block;
    padding: 1rem; 
}
.about .about__left ul li img:hover{
    background-color: var(--dark-violet);
    border-radius: 1rem;
}
.about .about__left ul li img{
    width: 32px;
}

.about .about__right{
    flex: 1;
    max-width: 85rem;
}
.about .about__right p{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px){
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about .about__left{
        max-width: 66rem;
        text-align: center;
    }
    .about .about__right{
        text-align: center;
    }
}