header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
}
header .header__left{
    max-width: 62rem;
    flex: 1;
}
header .header__left p{
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}
header .header__left a:hover{
    color: var(--tertiary-color);
}
header .header__right .header__image{
    position: relative;
    line-height: 0;
}
header .header__right .header__image::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--dark-violet);
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 0.5rem;
    z-index: -1;
}
header .header__right .header__image .kerlon{
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 45rem;
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
header .header__right .header__image .background{
    position: absolute;
    top: -4rem;
    right: -2.5rem;
    z-index: -1;
}
@media only screen and (max-width: 768px){
    header{
        flex-direction: column-reverse;
        text-align: center;
    }
    header .header__left p{
        margin: 2rem auto 4rem;
    }
}

