.projects{
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
}
.projects .projects__content{
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}
.projects ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.projects ul li.projects__reversed-list{
    flex-direction: row-reverse;
}
.projects ul li:not(:last-of-type){
    margin-bottom: 12rem;
}
.projects ul li .image img{
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
}
.projects ul li .projects__info{
    max-width: 47rem;
}
.projects ul li .projects__info p{
    margin: 1rem 0 4rem;
}
.projects ul li .projects__info a{
    font-weight: 500rem;
    text-decoration: underline;
}