.skills{
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 6rem;
}
.skills .skills__content{
    padding: 6rem 4rem;
    text-align: center;
}
.skills .skills__content .description{
    max-width: 56rem;
    margin: 0 auto 6rem;
}
.skills .skills__content ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.skills .skills__content ul li h3{
    font-size: 1.6rem;
    font-weight: 500rem;
    margin: 2rem 0 1rem;
}